body{
    background-color:mintcream;
}
h1,h2{
    color:#66bfbf;
}
hr {
    
    border-style: none;
    border-top-style: dotted;
    width:5%;
    border-color: grey;
    border-width: 5px; 

}